    <div class="container">
        <div class="well">
            <h1 class="text-center"><img class = "svg" src="./assets/img/utensils.svg" alt="fork knife plate"/> Eat-Da-Burger! <img class="svg" src="./assets/img/burger.svg" alt="burger"/></h1>
            <p>The Restaurant App That Let's You Make the Buger You Want and Devour it When your Favorite Burgers Ready</p>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Our Top Burgers on the Menu: Click to Devour</div>
                    <div class="panel-body buttonSection">
                            {{#each burgers}} {{#unless this.devoured}}
                            <div class="text-center">
                                <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                                    <button type="submit" class='btn btn-success btn-margin '> {{this.burger_name}}</button>
                                </form>
                            </div>
                            {{/unless}} {{/each}}
                    </div>
                </div>
                <!--End panel-->
            </div>
            <!--End div sm 6-->
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Burgers You Have Already Devoured: Click to Delete</div>
                    <div class="panel-body buttonSection">
                                    {{#each burgers}} {{#if this.devoured}}
                                    <div class='text-center'>
                                        <form action="/burgers/{{this.id}}?_method=DELETE" method="POST">                                        
                                            <button type="submit" class="btn btn-danger btn-margin">{{this.burger_name}}</button>
                                        </form>
                                    </div>
                                    {{/if}} {{/each}}
                    </div>
                </div>
                <!--End panel-->
            </div>
        </div>
        <br/>
        <div class="row"> 
        <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">What Custom Burger You Would Like Us to Build?</div>
                    <div class="panel-body" id="mealSection">
                            <form action="/burgers" method="POST">
                                <input type="text" class="form-control" id="name" name="burger_name">
                                <br>
                                <button type="submit" class="add-burger-button btn btn-warning btn-margin">Click to Order That Tasty Burger</button>
                            </form>
                    </div>
                    <br>
                    <!--End panel-->
                </div>
                <!--End panel-->
            </div>
            <!--End div sm-12-->
        <!--End Row-->
    </div> 
    <!--End container-->
