@import url('https://fonts.googleapis.com/css?family=Special+Elite');

body{
    background-image: url(../img/diner_2.webp);
    background-size: 100%;
    color: white;
}

.svg {
    height: 100px;
    width: 100px;
    margin-top: 5px;
}

p{
    text-align: center;
    color: black;
}

.well, .panel-default {
    background-color:rgba(44, 62,  69, .5);
    border-color: black;
    border-spacing: solid;
    border: 1px solid;
    color: black;
}

.panel-default > .panel-heading {
    background-color: rgba(22, 209, 116, 0.5);
    color: white;  
    padding-left: 5px;
    }

.btn-success, .btn-dark, .btn-warning, .btn-danger{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
}

#name{
    margin-top: 5px;
}