@import url('https://fonts.googleapis.com/css?family=Special+Elite');

body{
    background-image: url(../img/EmpireDiner_1000x667.jpg);
    background-size: 100%;
    color: white;
}

.svg {
    height: 100px;
    width: 100px;
    margin-top: 5px;
}

h1 {
  color: white;
}

p{
    text-align: center;
    color: white;
}

.well, .panel-default {
    background-color:rgba(44, 62,  69, .5);
    border-color: black;
    border-spacing: solid;
    border: 1px solid;
    color: black;
}

.panel-default > .panel-heading {
    background-color: rgba(22, 209, 116, 0.5);
    color: white;  
    padding-left: 5px;
    }

.btn-success, .btn-dark, .btn-warning, .btn-danger{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
}

#name{
    margin-top: 5px;
}

@media (max-width: 768px) {
  .btn {
    font-size:11px;
    padding:4px 6px;
  }
}

@media (min-width: 768px) {
  .btn {
    font-size:12px;
    padding:6px 12px;
  }
}

@media (min-width: 992px) {
  .btn {
    font-size:14px;
    padding:8px 12px;
  }
}

@media (min-width: 1200px) {
  .btn {
    padding:10px 16px;
    font-size:18px;
  }
}
